<h1>Hi, <%= @user.username %></h1>
<% @recent_media_items.each do |media| %>
    <img src="<%= media.images.thumbnail.url%>">
<% end%>
<h1>Hashtags</h1>
<%= form_tag({action: "index"}, method: "post") do%>
    <%= text_field_tag 'name' %>
    <%= submit_tag("Register") %>
<% end %>
<table border="1">
  <tr>
    <th>Hashtag</th>
    <th>Count</th>
    <th>Link</th>
  </tr>

  <% @tags.each do |hashtag| %>
      <tr>
        <td><%=  hashtag.name %></td>
        <td><%=  hashtag.media_count %></td>
        <td><%=  link_to 'Show', 'https://api.instagram.com/v1/tags/'+hashtag.name+'/media/recent?access_token='+session[:access_token] %></td>
      </tr>
  <% end %>
</table>
<%=  link_to 'Logout', home_logout_path, class: "btn pull-right" %>