<h1>Hi, <span style="color:red"><%= @user.full_name %></span></h1>
<%= image_tag @user.profile_picture %>
<h1>Hashtags</h1>
<%= form_tag({action: "index"}, method: "post") do%>
    <%= text_field_tag 'name' %>
    <%= submit_tag("Register") %>
<% end %>
<table border="1">
  <tr>
    <th>Hashtag</th>
    <th>Count</th>
    <th>Link</th>
  </tr>

  <% @tags.each do |hashtag| %>
      <tr>
        <td><%=  hashtag.name %></td>
        <td><%=  hashtag.media_count %></td>
        <td><%=  link_to 'Show', action: 'hashtag', name: hashtag.name %></td>
      </tr>
  <% end %>
</table>
<%=  link_to 'Logout', home_logout_path, class: "btn pull-right" %>